$primaryColor: #00787A; 
$secondaryColor: #F3F3F7;
$pink: #ce594d;
$menuColor: #00898B;

$fontColor: #333;

$defaultFont: "Kanit", sans-serif; 
$lightWeight: 200;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;


